
.text-primary {
    color: #337ab7 !important;
}

/* This prevents the 0 padding when we are in 'loading' state */
.btn.btn-primary.btn-labeled i.fa-spin.fa-refresh {
    padding: 8px 12px !important;
}

.select2-container .select2-search--inline {
    display: none;
}

form hr {
    margin-top: 10px; margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

/*
|------------------------------------------
| GOOGLE MAPS - SEARCH BOX
|------------------------------------------
*/
#pac-input {
    padding: 0 11px 0 13px;
    margin-top: 50px;
    left: 10px !important;
    outline: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 250px;
    height: 32px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input:focus {
    border-color: #4d90fe;
}

/*
|------------------------------------------
| AUTH PAGES
|------------------------------------------
*/
.auth-page {
    margin-top: 5%;
    /*background: #e0e0e0;*/
}

.auth-page .logo {
    text-align: center;
    margin-bottom: 25px;
}

.auth-page .auth-title {
    margin: 0;
    text-align: center;
    padding: 0 15px 15px 15px;
}

.auth-page .body {
    color: #666;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

/*
|------------------------------------------
| HELP - CALLOUT
|------------------------------------------
*/

.box-body.no-padding .callout.callout-help {
    margin: 10px;
}

.callout.callout-help {
    padding: 10px !important;
    border-radius: 0px !important;
    background-color: initial !important;
}

.callout-help .title {
    color: #3c8dbc;
}

.callout-help p {
    color: #333;
}

/*
|------------------------------------------
| BUTTONS TOOLBAR
|------------------------------------------
*/
.well-toolbar {
    border-radius: 0px;
}

/*
|------------------------------------------
| FORM GRID
|------------------------------------------
*/
form .row {
    margin: 0 -15px;
}
form .row:after {
    content: '';
    display: table;
    clear: both;
}
form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
form .col-1 {
    width: 8.33%;
}
form .col-2 {
    width: 16.66%;
}
form .col-3 {
    width: 25%;
}
form .col-4 {
    width: 33.33%;
}
form .col-5 {
    width: 41.66%;
}
form .col-6 {
    width: 50%;
}
form .col-8 {
    width: 66.67%;
}
form .col-9 {
    width: 75%;
}
form .col-10 {
    width: 83.33%;
}
@media screen and (max-width: 600px) {
    form .col {
        float: none;
        width: 100%;
    }
}

form fieldset {
    padding: 10px;
}

.form-footer {
    display: block;
    padding: 7px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}

.form-footer .btn {
    float: right;
    margin: 7px 0 0 5px;
    cursor: pointer;
}

.form-footer .note {
    float: left;
    margin-top: 15px;
}

.form-footer:after {
    content: '';
    display: table;
    clear: both;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    background: #fff;
    border-color: rgb(236, 240, 245);
}


/*
|------------------------------------------
| CHARTS - CHART JS
|------------------------------------------
*/
canvas {
    width: 100% !important;
    height: 400px;
}

.chart-legend ul {
    list-style: outside none none;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.chart-legend li {
    display: inline-block;
    margin-left: 10px;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.loading-widget {
    text-align: center;
    font-size: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -30px;
}


/*
|------------------------------------------
| SUPERBOX - IMAGES above the dropzone
|------------------------------------------
*/
.superbox *,.superbox :after,.superbox :before {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility
}
.superbox-list {
    display:inline-block;
    zoom:1;
    width:12.5%;
    padding:5px;
    position:relative
}
.superbox-img {
    max-width:100%;
    width:100%;
    cursor:pointer
}
.superbox-img:hover {
    opacity:.8
}
@media only screen and (min-width:320px) {
    .superbox-list {
        width:50%
    }
}
@media only screen and (min-width:486px) {
    .superbox-list {
        width:25%
    }
}
@media only screen and (min-width:768px) {
    .superbox-list {
        width:16.66666667%
    }
}
@media only screen and (min-width:1025px) {
    .superbox-list {
        width:12.5%;
    }
}
@media only screen and (min-width:1824px) {
    .superbox-list {
        width:12.5%;
    }
}


/*
|------------------------------------------
| NESTABLE LIST ORDER
|------------------------------------------
*/
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 600px;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}
.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    cursor: hand;
}
.dd-handle {
    display: block;
    font-size: 15px;
    margin: 5px 0;
    padding: 7px 15px;
    color: #333333;
    text-decoration: none;
    border: 1px solid #cfcfcf;
    background: #fbfbfb;
}
.dd-handle:hover {
    color: #2ea8e5;
    background: #ffffff;
}
.dd-item > button {
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 7px 10px;
    line-height: 22px !important;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: rgba(0, 0, 0, 0);
    text-align: center;
}
.dd-item > button {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}
.dd-item > button:before {
    content: '\f055';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #0091d9;
}
.dd-item > button[data-action="collapse"]:before {
    content: '\f056';
    color: #a90329;
}
.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #eeeeee;
    background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-image: -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
/**
 * Nestable Extras
 */
.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
}

@media only screen and (min-width: 700px) {
    .dd {
        float: left;
        width: 100%;
    }
    .dd + .dd {
        margin-left: 2%;
    }
}
.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}
/**
 * Nestable Draggable Handles
 */
.dd-handle:hover + .dd-list .dd-handle,
.dd-handle:hover {
    background: #FDDFB3 !important;
    border: 1px solid #FAA937;
    color: #333 !important;
}
.dd-handle > span {
    font-size: 13px;
    color: #777;
}
.dd-dragel > .dd-item > .dd-handle {
    border-left-width: 4px;
}
.dd-dragel > li.dd-item.dd3-item {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 999;
}


/*
|------------------------------------------
| DATA TABLES
|------------------------------------------
*/
.table-bordered {
    border: 1px solid #ddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 6px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_length {
    text-align: right;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    /*background-color: #f6f6f6;*/
}

.table-hover > tbody > tr:hover {
    background-color: #f0f0f0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    /*border-top: 1px solid #ddd;*/
    border-right: 1px solid #ddd;
}

.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div.dataTables_info {
    padding-top: 9px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #969696;
}

div.dataTables_filter label {
    position: relative;
    display: table;
    border-collapse: separate;
}

div.dataTables_filter.input-group input {
    margin-left: 0px !important;
}

.dt-toolbar-footer > :first-child, .dt-toolbar > :first-child {
    padding-left: 0px !important;
}

.dt-toolbar-footer > :last-child, .dt-toolbar > :last-child {
    padding-right: 0px !important;
}

.dt-toolbar .col-sm-6.col-xs-12.hidden-xs {
    padding-right: 0 !important;
}

.dt-toolbar-footer .pagination {
    font-size: 11px;
}

.dataTables_empty {
    text-align: center;
}


/*
|------------------------------------------
| RADIO AND CHECKBOXES
|------------------------------------------
*/

.radio,
.checkbox {
    margin-bottom: 4px;
    padding-left: 25px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
}

.radio:last-child,
.checkbox:last-child {
    margin-bottom: 0;
}

.radio input,
.checkbox input {
    position: absolute;
    left: -9999px;
}

.radio input + i:after,
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.radio i,
.checkbox i {
    position: absolute;
    top: 34px;
    left: 16px;
    display: block;
    width: 19px;
    height: 19px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}

.radio i {
    border-radius: 50%;
}

.radio input + i:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.checkbox input + i:after {
    content: '\f00c';
    top: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    font: normal 16px/19px FontAwesome;
    text-align: center;
}

.checkbox input:checked:hover + i:after {
    content: '\f00d';
}

.checkbox input:checked:disabled:hover + i:after {
    content: '\f00c';
}

.radio input:checked + i:after,
.checkbox input:checked + i:after {
    opacity: 1;
}

.inline-group {
    margin: 0 -15px -4px 0;
}

.inline-group:after {
    content: '';
    display: table;
    clear: both;
}

.inline-group .radio,
.inline-group .checkbox {
    float: left;
    margin-right: 30px;
}

.inline-group .radio:last-child,
.inline-group .checkbox:last-child {
    margin-bottom: 4px;
}

/*
 * checked state
 */

.radio input + i:after {
    background-color: #3276b1;
}

.checkbox input + i:after {
    color: #3276b1;
}

.radio input:checked + i,
.checkbox input:checked + i,
.toggle input:checked + i {
    border-color: #3276b1;
}